<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
    <div class="col-8 offset-3 ">
        <br>
        <h2><%= listing.title %></h2>
    </div>
    <div class="card col-6 offset-3 listing-card" style="width: 38rem;">
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body">
            <br>
            <p class="card-text">Owned by : <%= listing.owner.username %>
            <p class="card-text"><%= listing.description %></p>
            <p class="card-text">&#8377 <%= listing.price.toLocaleString("en-IN") %></p>
            <p class="card-text"><%= listing.location %></p>
            <p class="card-text"><%= listing.country %></p>
            </p>
        </div>
    </div>
    <script>
            function confirmDelete(event) {
                if (!confirm('Are you sure you want to delete this listing? This action cannot be undone.')) {
                    event.preventDefault(); // Prevent form submission if user cancels
                }
            }
    </script>
    <!-- <div class="btns">
        <form method="GET" action="/listings/<%=listing._id%>/edit">
                <button class="btn btn-dark col-8 edit-btn  ">Edit</button>
        </form>
        <form method="post" action="/listings/<%= listing._id %>?_method=DELETE" onsubmit="return confirmDelete(event)">
            <button type="submit" id = "del" class="btn btn-dark col-8 ">DELETE</button>
        </form>
        <br> 
        <br>
        <br>
    </div> -->
    <% if(currentUser && currentUser._id.equals(listing.owner._id)) { %>
    <div class="col-6 mx-auto btns">
        <form method="GET" action="/listings/<%=listing._id%>/edit" class="d-inline">
            <button class="btn btn-dark edit-btn ">Edit</button>
        </form>
        <form method="post" action="/listings/<%= listing._id %>?_method=DELETE" onsubmit="return confirmDelete(event)" class="d-inline">
            <button type="submit" id="del" class="btn btn-dark offset-2">DELETE</button>
        </form>
    </div>
    <% } %>
    <div class="col-6 offset-3 mb-3">
        <hr>
        <% if(currentUser) {%>
        <h4>Leave a review</h4>
        
        <form action="/listings/<%=listing._id%>/reviews" method="POST" novalidate class="needs-validation">
            <div class="rating mb-3 mt-3">
                <label for="Rating" class="form-label">Rating</label>
                <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
            </div>
            <div class="comment mb-3 mt-3">
                <label for="comment" class="form-label">Comment</label>
                <textarea name="review[comment]" id="comment" cols="30" rows="2" class="form-control" required></textarea>
                <div class="invalid-feedback">Please add some text to review</div>
            </div>
            <button class="btn btn-outline-dark mb-3" >Submit</button>
        </form>
        <% } %>
        
        <h5>Reviews</h5>
        <div class="row">
            <% for (review of listing.review) { %>
            <div class="card col-5 ms-4 mb-3">
                <div class="card-body mt-3 mb-3">
                    <p class="card-title"><b><%= review.author.username %></b></p>
                    <p class="card-text"><%=review.rating%>&#9733;</p>
                    <p class="card-text"><%=review.comment%></p>
                </div>
                <% if(currentUser._id.equals(review.author._id)) { %>
                <form method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
                    <button class="btn btn-sm btn-dark mb-2">Delete</button>
                </form>
                <% } %>
            </div>
        <% } %>
        </div>
    </div>
    <br>
    <br>
</div>


